<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/info">연구회소개</a></li>
			<li class="breadcrumb-item active">인사말</li>
		</ol>
		<h2>인사말</h2>
		<div>
			<div class="detail-box">
				<blockquote class=se2_quote2 style="_zoom: 1; margin: 0 0 30px 13px; padding: 0 8px 0 16px; background: url(http://static.se2.naver.com/static/img/bg_quote2.gif) 0 3px no-repeat; color: #888888;">
					<b>
						<span style="font-family: 돋움, Dotum; font-size: 11pt; color: rgb(0, 0, 0);">&nbsp;
						<span style="font-size: 14pt;">한국소액주주연구회</span></span>
					</b>
				</blockquote>
				<blockquote class=se2_quote1 style="_zoom: 1; padding: 0 8px; margin: 0 0 30px 20px; margin-right: 15px; border-left: 2px solid #cccccc; color: #888888;">
					<p style="line-height: 1.8;">
						<span style="font-size: 11pt;">한국소액주주 연구회는 4차 산업을 맞이하여 빅데이터 및 AI 시스템을 도입 연구에 중점을두고</span>
					</p>
					<p style="line-height: 1.8;">
						<span style="font-size: 11pt;">불순세력으로 부터 소액주주의 피해를 보호하고자합니다.</span>
					</p>
					<p style="line-height: 1.8;">
						<span style="font-size: 11pt;">미래의 건실한 회사를 발굴하여 회원여러분에게 제공하고</span>
					</p>
					<p style="line-height: 1.8;">
						<span style="font-size: 11pt;">소액주주의 권리강화와 투자이익을 창출하는 연구에 최선을 다하겠습니다.</span>
					</p>
					<p style="line-height: 1.8;">
						<span style="font-size: 11pt;">감사합니다.&nbsp;</span>
					</p>
				</blockquote>
				<div class="license-box">
					<ul>
						<li style="font-size: 11pt;"><span style="font-size: 11pt;">자격등록현황</span></li>
					</ul>
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/license1.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/license2.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/license3.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/license4.png}" alt="Card image">
							</div>
						</div>
					</div>
				</div>
				<div class="license-box">
					<ul>
						<li style="font-size: 11pt;"><span style="font-size: 11pt;">특허등록&nbsp;</span></li>
					</ul>
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent1.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent2.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent3.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent4.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent5.png}" alt="Card image">
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card mb-3">
								<img style="height: 100%; width: 200px; display: block;" th:src="@{/img/info/patent6.png}" alt="Card image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
      <!-- end content -->
	<script>
		$(function(){
			
		});
	</script>
</th:block>
</html>