<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/info">연구회소개</a></li>
			<li class="breadcrumb-item active">인사말</li>
		</ol>
		<h2>인사말</h2>
		<div>
			<div class="detail-box">
				<blockquote class=se2_quote2
					style="_zoom: 1; margin: 0 0 30px 13px; padding: 0 8px 0 16px; background: url(http://static.se2.naver.com/static/img/bg_quote2.gif) 0 3px no-repeat; color: #888888;">
					<p>
						<span style="font-size: 14pt; color: rgb(0, 0, 0);"><b>안녕하십니까,</b></span>
					</p>
					<p>
						<span style="font-size: 14pt; color: rgb(0, 0, 0);"><b>한국소액주주연구회
								협회장 입니다.</b></span>
					</p>
				</blockquote>
				<blockquote class=se2_quote3
					style="_zoom: 1; margin: 0 0 30px 0; padding: 10px; border: 1px dashed #cccccc; color: #888888;">
					<p style="line-height: 2;">
						<span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">한국소액주주
							연구회는 4차 산업을 맞이하여 빅데이터 및 AI 시스템을 도입,&nbsp;</span>
					</p>
					<p style="line-height: 2;">
						<span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">연구에
							중점을 두고&nbsp;</span><span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">불순세력으로부터
							소액주주의 피해를 보호하고자 합니다.</span>
					</p>
					<p>
						<br>
					</p>
					<p style="line-height: 2;">
						<span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">미래의
							건실한 회사를 발굴하여 회원여러분에게 제공하고</span>
					</p>
					<p style="line-height: 2;">
						<span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">소액주주의
							권리강화와 투자이익을 창출하는 연구에 최선을 다하겠습니다.</span>
					</p>
					<p style="line-height: 2;">
						<span
							style="font-size: 11pt; font-family: 돋움체, DotumChe, AppleGothic; color: rgb(0, 0, 0);">감사합니다.</span>
					</p>
					<p style="text-align: right; line-height: 2; margin-left: 280px;"
						align="right">
						<span style="font-size: 14.6667px;">- 협회장 OOO -</span>
					</p>
				</blockquote>
				<p>
					<br>
				</p>
			</div>
		</div>
	</div>
      <!-- end content -->
	<script>
		$(function(){
			
		});
	</script>
</th:block>
</html>