<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>

	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/> 
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
	<logger name="org.thymeleaf" level="INFO"/>
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="org.springframework" level="error" />
	<logger name="org.springframework.jdbc" level="error" /> 
	<logger name="com.zaxxer.hikari" level="error" />
	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>
</configuration>
