<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/forum">연구회포럼</a></li>
			<li class="breadcrumb-item active">자료실</li>
		</ol>
		<h2>자료실</h2>
		<div>
			<div class="detail-box">
				<div class="btn-box">
					<button type="button" id="list" class="btn btn-outline-primary">목록으로</button>
				</div>
				<div class="title-box">
					<span th:text="${data.vo.title}"></span>
					<small>조회수 : <span th:text="${data.vo.hit}"></span></small>
				</div>
				<div class="info-box">
					<ul>
						<li>작성일 : <span th:text="${data.vo.regDttm}"></span></li>
						<li>작성자 : <span th:text="${data.vo.regId}"></span></li>
					</ul>
				</div>
				<div class="content-box">
					<input type="hidden" id="boardNo" name="boardNo" th:value="${data.vo.boardNo}">
					<input type="hidden" id="boardType" name="boardType" th:value="${data.vo.boardType}">
					<div class="file-box" th:if="${data.vo.fileNo} != 0">
						<form action="/file/download" method="post">
							<input type="hidden" id="fileNo" name="fileNo" th:value="${data.vo.fileNo}">
							<input type="hidden" id="fileBoardNo" name="boardNo" th:value="${data.vo.boardNo}">
							<input type="hidden" id="fileBoardType" name="boardType" th:value="${data.vo.boardType}">
							첨부파일 : 
							<button type="submit" class="btn btn-secondary btn-sm" id="download">
								<span class="glyphicon glyphicon-paperclip"></span>[[${data.vo.fileNm}]]
					        </button>
						</form>
					</div>
					<div id="board-box">
						<span th:utext='${data.vo.content}'></span>
					</div>
				</div>
				<div class="list-box">
					<ul>
						<li><strong>다음글</strong><a id="next"><span th:data-nextno="${data.next.nextNo}" th:text="${data.next.nextTitle}"></span></a></li>
						<li><strong>이전글</strong><a id="prev"><span th:data-prevno="${data.prev.prevNo}" th:text="${data.prev.prevTitle}"></span></a></li>
					</ul>
				</div>
				<div class="text-right">
	        		<button class="btn btn-outline-info" id="modify">수정</button>
	        		<button class="btn btn-outline-primary" id="delete">삭제</button>
	        	</div>
			</div>
		</div>
	</div>
      <!-- end content -->
	<script>
		$(function(){
			
			$("#next").on('click', function(){
				var next = $(this).children('span').data("nextno");
				if(next == undefined){
					alert("다음글이 없습니다.");
					return;
				}else{
					post(next);
				}
			});
			
			$("#prev").on('click', function(){
				var prev = $(this).children('span').data("prevno");
				if(prev == undefined){
					alert("이전글이 없습니다.");
					return;
				}else{
					post(prev);
				}
			});
			
			$("#list").on('click', function(){
				$(location).attr("href", "/forum/reference");
			});
			
			$("#modify").on('click', function(){
				var boardNo = $("#boardNo").val();
				update(boardNo);
			});
			
			$("#delete").on('click', function(){
				var result = confirm("게시글을 삭제하시겠습니까?");
				if(result){
					$.ajax({
	      				url: "/forum/reference/delete"
						, type : "post"
	      				, data : {
	      					boardNo : $("#boardNo").val()
	      					, boardType : $("#boardType").val()
	      				}, success : function(data){
	      					var json = JSON.parse(data);
	      					if(json.resCode == "0000"){
	      						alert("정상적으로 삭제 되었습니다.");
	      						$(location).attr("href", "/forum/reference");
	      					}else{
		      					alert(json.resMsg);
	      					}
	      				}, error : function(request, status, error){
	      					alert("error : ", request);
	      				}
	      			});
				}	
			});
		});
		
		function post(boardNo){
			var $form = $("<form></form>");
			$form.attr("method", "post");
			$form.attr("action", "/forum/reference/detail");
			$form.attr("id", "fm");
			$form.appendTo('body');
			$form.append('<input type="hidden" id="boardNo" name="boardNo" value="' + boardNo + '">');
			
			$("#fm").submit();
		}
		
		function update(boardNo){
			var $form = $("<form></form>");
			$form.attr("method", "post");
			$form.attr("action", "/forum/reference/update");
			$form.attr("id", "fm");
			$form.appendTo('body');
			$form.append('<input type="hidden" id="boardNo" name="boardNo" value="' + boardNo + '">');
			
			$("#fm").submit();
		}
	</script>
</th:block>
</html>