<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">

<th:block layout:fragment="content">
	<section id="join-section">
		<div class="container">
	        <header class="section-header">
	        	<blockquote class="blockquote text-center">
					<p class="mb-0">페이지 권한이 없습니다. 관리자에게 문의하세요.</p>
				</blockquote>
				<p><a href="/">Home</a></p>
	        </header>
		</div>
	</section>
</th:block>
</html>