<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">

<th:block layout:fragment="content">
	<section id="join-section">
		<div class="container">
	        <header class="login-header">
				<h3>아이디/비밀번호 찾기</h3>
	        </header>
			<div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<h4 class="title">
	                    	<span>아이디 찾기</span>
	                    </h4>
	                    <form id="loginform" method="post" name="loginform" action="">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" placeholder="이름">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" placeholder="이메일 또는 핸드폰번호">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-outline-primary">아이디 찾기</button>
							</div>
						</form>
	        		</div>
	        		<div class="col-lg-6 col-md-6 col-sm-12">
	          			<h4 class="title">
	                    	<span>비밀번호 찾기</span>
	                    </h4>
						<form id="loginform" method="post" name="loginform" action="">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" placeholder="아이디">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" placeholder="이름">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" placeholder="이메일 또는 핸드폰번호">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-outline-primary">비밀번호 찾기</button>
							</div>
						</form>
					</div>
	        		<!-- end login -->
				</div>
				
     		</div>
      		<!-- end content -->	
		</div>
	</section>
  	<script th:inline="javascript">
  		$(function(){
  			/*<![CDATA[*/
				var result = [[${result}]];
  			/*]]>*/
			if(result == 'fail'){
				alert("아이디 또는 비밀번호가 일치하지 않습니다.");
			}
  			
  			$("#join").click(function(){
  				$(location).attr("href", "/user/join");
  			})
  		});
  	</script>
</th:block>
</html>