<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">

<th:block layout:fragment="content">
	<section id="join-section">
		<div class="container">
        	<div class="login-form">
		        <header class="login-header">
					<h3>Login</h3>
		        </header>
		        <div class="login-box">
	       			<form th:action="@{/user/login}" method="post">
		        		<fieldset>
		        			<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="userId" name="userId" placeholder="아이디">
								</div>
							</div>
		        			<div class="form-group">
								<div class="col-sm-12">
									<input type="password" class="form-control" id="password" name="password"placeholder="비밀번호">
								</div>
							</div>
		        			<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" id="login" class="btn btn-primary btn-block">로그인</button>
								</div>
							</div>
		        		</fieldset>
	        		</form>
		        </div>
		        <div class="login-info">
		        	<p class="text-secondary">아이디 또는 비밀번호를 잊으셨나요?
			        	<button type="button" id="find" class="btn btn-outline-primary btn-sm">아이디/비밀번호 찾기</button>
		        	</p>
		        	<p class="text-secondary">아직 회원이 아니신가요?
			        	<button type="button" id="join" class="btn btn-outline-primary btn-sm">회원가입</button>
		        	</p>
		        </div>
        	</div>
		</div>
	</section>
  	<script th:inline="javascript">
  		$(function(){
  			/*<![CDATA[*/
				var result = [[${result}]];
  			/*]]>*/
			if(result == 'fail'){
				alert("아이디 또는 비밀번호가 일치하지 않습니다.");
			}
  			
  			$("#find").click(function(){
  				$(location).attr("href", "/user/find");
  			});
  			
  			$("#join").click(function(){
  				$(location).attr("href", "/user/join");
  			});
  		});
  	</script>
</th:block>
</html>