<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
	<footer id="footer">
    	<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 footer-info">
						<img alt="" th:src="@{/img/logo2.png}">
						<p>
							재정경재부허가 제125호 사단법인 한국소액주주연구회<br>
							금융위원회 제2015-5호 비영리민간단체 등록<br>
							한국직업능력개발원 제2017-002955호 사이버애널리스트<br>
							단일등급 민간자격등록
						</p>
					</div>
				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/info">연구회소개</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보 취급방침</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>Contact Us</h4>
					<p>
						한국소액주주연구회 <br>
						(05242)<br>
						서울특별시 강동구 상암로 20, 2호<br>
						(암사동, 한일빌딩)<br>
						<strong>Tel:</strong> 02-553-1477<br>
						<strong>Email:</strong> info@example.com<br>
            		</p>
				</div>

				<div class="col-lg-3 col-md-6 footer-newsletter">
					<h4>Our Newsletter</h4>
					<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
				</div>
			</div>
		</div>
    </div>

    <div class="container">
		<div class="copyright">
        	&copy; Copyright <strong>한국소액주주연구회</strong>. All Rights Reserved
		</div>
	<!--  
		<div class="credits">
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
    -->
    </div>
  </footer>
</th:block>
</html>