<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<th:block th:fragment="headFragment">
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>한국소액주주연구회</title>
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<!-- DataTable -->
	<link rel="stylesheet" th:href="@{/lib/dataTables/css/dataTables.bootstrap4.min.css}">
	<!-- Jquery-UI CSS -->
	<link rel="stylesheet" th:href="@{/lib/jquery-ui/jquery-ui.min.css}">
	<!-- JetMenu -->
	<link rel="stylesheet" th:href="@{/lib/jetmenu/jetmenu.css}">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/red.css}">
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	
	<!-- Script -->
	<script th:src="@{/lib/jquery/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.js}"></script>
	<script th:src="@{/lib/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/dataTables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/lib/dataTables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/lib/jetmenu/jetmenu.js}"></script>
	
	<script th:src="@{/lib/smarteditor/dist/js/service/HuskyEZCreator.js}" charset="utf-8"></script>
	<script th:src="@{/lib/smarteditor/dist/js/service/HuskyEZCreator.js}" charset="utf-8"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/menu.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	
	<!-- Summernote -->
	<link rel="stylesheet" th:href="@{/lib/summernote-lite/summernote-lite.css}">
	<script th:src="@{/lib/summernote-lite/summernote-lite.js}"></script>
	<script th:src="@{/lib/summernote-lite/summernote-ko-KR.js}"></script>
<!-- 	<link rel="stylesheet" th:href="@{/lib/summernote/summernote.css}"> -->
<!-- 	<script th:src="@{/lib/summernote/summernote.js}"></script> -->
<!-- 	<script th:src="@{/lib/summernote/summernote-ko-KR.js}"></script> -->
	
<!-- 	<script th:src="@{/lib/ckeditor/ckeditor.js}"></script> -->
	
</head>
</th:block>
</html>