<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<th:block th:fragment="headFragment">
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- DataTable -->
	<link rel="stylesheet" th:href="@{/lib/dataTables/css/dataTables.bootstrap4.min.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	
	<!-- Script -->
	<script th:src="@{/lib/jquery/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/dataTables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/lib/dataTables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/menu.js}"></script>
</head>
</th:block>
</html>