<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
<script th:inline="javascript">
	$("#regist").hide();
	/*<!CDATA[*/
	var roleIds = [[${roleIds}]];
	/*]]>*/
	
	if(roleIds != ''){
		if(roleIds.includes( '1' ) || roleIds.includes( '9' )){
			$("#regist").show();
		}
		
		if(roleIds.includes( '2' )){
			$("#videoUploadBtn1").hide();
			$("#videoUploadBtn2").hide();
			$("#modal-upload").hide();
			$("#video-upload").hide();
		}
	}
</script>
</th:block>
</html>