<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
<script th:inline="javascript">
	$("#regist").hide();
	$("#delete").hide();
	$("#modify").hide();
	
	$("#userRegist").hide();
	$("#videoUploadBtn1").hide();
	$("#videoUploadBtn2").hide();
	$("#modal-upload").hide();
	$(".video-upload").hide();
	
	/*<!CDATA[*/
	var roleIds = [[${roleIds}]];
	/*]]>*/
	
	if(roleIds != ''){
		if(roleIds.includes('1') || roleIds.includes('9')){
			$("#regist").show();
			$("#delete").show();
			$("#modify").show();
			$("#userRegist").show();
			$("#videoUploadBtn1").show();
			$("#videoUploadBtn2").show();
			$(".video-upload").show();
		}
		
		if(roleIds.includes( '2' )){
			$("#userRegist").show();
			$("#userUpdate").show();
			$("#userDelete").show();
		}
	}
</script>
</th:block>
</html>