<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
<script th:inline="javascript">
	$("#regist").hide();
	$("#delete").hide();
	$("#modify").hide();
	
	$("#userRegist").hide();
	$("#userUpdate").hide();
	$("#userModify").hide();
	$("#userDelete").hide();
	
	$("#videoUploadBtn1").hide();
	$("#videoUploadBtn2").hide();
	$("#modal-upload").hide();
	$(".video-upload").hide();
	
	/*<!CDATA[*/
	var roleIds = [[${roleIds}]];
	var menuAuth = [[${menuAuth}]];
	/*]]>*/
	
	if(roleIds != ''){
		if(menuAuth == true || (roleIds.indexOf('9') != -1)){
			$("#regist").show();
			$("#delete").show();
			$("#modify").show();
			
			$("#userRegist").show();
			$("#userUpdate").show();
			$("#userModify").show();
			$("#userDelete").show();
			
			$("#videoUploadBtn1").show();
			$("#videoUploadBtn2").show();
			$(".video-upload").show();
		}
		
		if(roleIds.indexOf( '2' ) != -1){
			$("#userRegist").show();
			$("#userUpdate").show();
			$("#userModify").show();
			$("#userDelete").show();
		}
	}
</script>
</th:block>
</html>