<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
	<div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div class="widget">
			<h4 class="title">
				<span>Categories</span>
			</h4>
			<ul class="categories">
				<li><a href="/menu2">Logo Design</a></li>
				<li><a href="l#">Web Design</a></li>
				<li><a href="#">WordPress</a></li>
				<li><a href="#">HTML5 & CSS3</a></li>
				<li><a href="#">Other Works</a></li>
			</ul>
		</div>
	</div>
</th:block>
</html>