<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topFragment">
	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img alt="" th:src="@{/img/logo.gif}">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/info">연구회소개</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/activity">연구활동</a>
					</li>
					<!-- 추후 오픈 예정 -->
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">자격증</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="/sinmungo">신문고</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/forum">연구회포럼</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/menu">메뉴</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
</th:block>
</html>