.navbar-nav{
	font-weight: bold;
	color: #000000;
	
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  position: relative;
  background: url("../img/intro-bg.gif") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}

@media (max-width: 991px) {
  #intro {
    padding: 140px 0 60px 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}

#intro .intro-img {
  width: 50%;
  float: right;
}

@media (max-width: 991px) {
  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }
}

#intro .intro-info {
  width: 50%;
  float: left;
}

@media (max-width: 991px) {
  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }
}

#intro .intro-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #2c2c2c;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #a70000;
  border: 2px solid #a70000;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro .intro-info .btn-services:hover {
  background: #a70000;
  border-color: #a70000;
  color: #fff;
}


/*--------------------------------------------------------------
# Default Section
--------------------------------------------------------------*/
#default {
  width: 100%;
  position: relative;
  padding: 120px 0 120px 0;
}

#default .breadcrumb {
	border: 0px;
	display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    list-style: none;
    background-color: #fff0;
    text-align: right;
    float: right;
}

#default .breadcrumb a{
	color: #a60000;
}

/* custom table */
#default #search_div {
	width: 100%;
	padding: 20px;
	float: right;
}

/* custom table */
#default #search_div input,select,button{
	margin: 5px;
}

/* custom table */
#default .content table {
	padding-top: 20px;
}

#default .content table thead tr th {
	padding: 10px;
    font-weight: bold;
    border-top : 2px solid #a60000;
    border-bottom: 1px solid #cecece;
    text-align: center;
    background-color: #eeeeee
}

#default .content table tr td {
    padding: 10px 5px;
    vertical-align: top;
    border-top: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Sidebar & Widgets
--------------------------------------------------------------*/

#sidebar {
  padding: 20px;
}

#sidebar li {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

#sidebar .nav-tabs li {
  margin-left: 0;
  margin-bottom: 0;
}

#sidebar a {
  color: #696E74;
}

#sidebar .widget {
  padding-top: 0;
  padding-bottom: 35px;
}

.title {
  position: relative;
  padding-bottom: 20px;
  margin: 20px 0;
  border-bottom: 1px solid;
}

.categories{
	padding-left: 0px;
}
.categories li{
	padding-bottom: 10px;
}

.content {
  padding: 20px 20px 60px 20px;
}

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.widget h3, .widget h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .notfound {
    background: none;
  }
  .notfound .small-title {
    width: 100%;
  }
  .callus, .search-bar, .post-wrapper-top, .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #3E4246;;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #2B2E31;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #696E74;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #696E74;;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffffff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #b70000;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #b70000;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #ff0000;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #ffffff;
}

#footer .credits a:hover {
  color: #ff0000;
}