<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">

<th:block layout:fragment="content">
	<section id="intro" class="clearfix">
		<div class="container">
			<div class="intro-img">
				<img th:src="@{/img/intro-img.svg}" alt="" class="img-fluid">
			</div>

			<div class="intro-info">
				<h2>한국소액주주연구회<br>회원을<br>모집합니다!</h2>
				<div>
					<a href="/user/join" class="btn-get-started scrollto">회원가입</a>
					<a href="/info" class="btn-services scrollto">연구회 소개</a>
				</div>
			</div>
		</div>
	</section>
			  <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
		<div class="container">

		<header class="section-header">
			<h3>연구회 서비스</h3>
			<p>한국 소액주주 연구회에서 제공하는 서비스를 이용해 보세요.</p>
        </header>

        <div class="row">
			<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
				<div class="box">
					<div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
					<h4 class="title"><a href="/info">연구회소개</a></h4>
					<p class="description">한국소액주주연구회 인사말 및 자격등록 현황</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
				<div class="box">
					<div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
					<h4 class="title"><a href="/activity">연구 활동</a></h4>
					<p class="description">주식, 채권, 선물, 바이오 소액투자 등에 대한 연구활동</p>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
				<div class="box">
					<div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
					<h4 class="title"><a href="/sinmungo">신문고</a></h4>
					<p class="description">소액주주 하소연 및 불공정거래서 신고센터 운영</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
				<div class="box">
						<div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
						<h4 class="title"><a href="/forum">연구회 포럼</a></h4>
						<p class="description">공자사항, 보도자료, Q&A, 자료실 등을 제공</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Services Section -->
</th:block>
</html>