<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/activity">연구활동</a></li>
			<li class="breadcrumb-item active">선물</li>
		</ol>
		<h2>선물</h2>
		<div>
			<div class="detail-box">
				<div th:each="item : ${video}">
					<div class="col-lg-3 col-md-4 col-sm-12">
						<div class="">
							<img alt="" th:src="${item.thumbnailUrl}" class="thumbnail_youtube" th:data-no="${item.videoNo}" 
								th:data-url="${item.videoUrl}" data-toggle="modal" data-target="#modal-video">
						</div>
					</div>
				</div>
				<div th:if="${#lists.isEmpty(video)}">
					<button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-upload" id="videoUploadBtn1">동영상 업로드 +</button>
				</div>
				<div th:unless="${#lists.isEmpty(video)}">
					<button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-upload" id="videoUploadBtn2">+</button>
				</div>
				<input type="hidden" id="boardType" name="boardType" th:value="${boardType}">
				<input type="hidden" id="boardSubType" name="boardSubType" th:value="${boardSubType}">
				<div th:if="${data != null}">
					<input type="hidden" id="boardNo" name="boardNo" th:value="${data.boardNo}">
					<div class="reg-date">작성일 : <span th:text="${data.regDttm}"></span></div>
					<span th:utext='${data.content}'></span>
				</div>
				<div th:unless="${data != null}">
					<div class="no-write">
						<img th:src="@{/img/no-write.gif}">
					</div>
				</div>	
			</div>
			<div class="btn-box">
        		<button class="btn btn-secondary" id="regist"><span class="glyphicon glyphicon-pencil"></span></button>
	        </div>
	        <div th:if="${data != null}">
	        	<div class="reply-box">
	        		<div class="reply-list" th:each="item : ${list}">
	        			<div class="reply-id">
			        		<span th:text="${item.replyRegId}"></span>
	        				<small><span th:text="${item.replyRegDttm}"></span></small>
	        			</div>
	        			<div class="reply-content">
	        				<span th:text="${item.replyContent}"></span>
	        			</div>
	        		</div>
		        	<div class="card">
						<div class="card-body">
							<h5 class="card-subtitle mb-2 text-muted">[[${userId}]]</h5>
							<textarea class="form-control" id="replyContent" rows="3"></textarea>
							<button class="btn btn-primary" id="replyRegist">등록</button>
		  				</div>
		  			</div>
		  		</div>	
	  		</div>
        	<div class="modal border-primary" id="modal-video" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								<iframe frameborder="0" id="video" src="" width="460" height="310" class="note-video-clip"></iframe>
							</p>
						</div>
						<div class="modal-footer" id="video-upload">
							<label>동영상 URL</label>
							<input type="text" id="videoUrl" name="videoUrl" class="form-control"> 
							<input type="hidden" id="videoNo" name="videoNo" class="form-control"> 
							<button type="button" class="btn btn-primary" id="update">업로드</button>
						</div>
				    </div>
				</div>
			</div>
			<div class="modal border-primary" id="modal-upload" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">동영상 업로드</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<label>동영상 URL</label>
							<input type="text" id="videoUploadUrl" name="videoUploadUrl" class="form-control"> 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="upload">업로드</button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
    <!-- end content -->
	<script>
		$(function(){
			
			$("#regist").on("click", function(){
				$(location).attr("href", "/activity/futures/regist");
			});
			
			$("#modal-video").on('show.bs.modal', function(e){
				var button = $(e.relatedTarget);
			});
			
			$(".thumbnail_youtube").click(function(){
				var videoNo = $(this).data("no");
				var videoUrl = $(this).data("url");
				
				$("#videoUrl").val(videoUrl);
				$("#videoNo").val(videoNo);
				
				$("#video").prop("src", videoUrl);
			})
			
			$("#upload").click(function(){
				if($(".thumbnail_youtube").length >= 5){
					alert("동영상은 최대 5개 까지 등록 가능합니다.");
					return;
				}
				
				$.ajax({
	   				url: "/video/upload"
					, data : {
						boardType : $("#boardType").val()
						, boardSubType : $("#boardSubType").val()
						, videoUrl : $("#videoUploadUrl").val()
					}
					, type : "post"
	   				, success : function(data){
						var json = JSON.parse(data);
	   					if(json.resCode == "0000"){
	   						alert("동영상이 정상적으로 등록되었습니다!");
	   						$('#modal-upload').modal("hide");
	   						location.reload();
	   					}else{
							alert(json.resMsg);
	   					}
	   				}, error : function(request, status, error){
	   					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
	   				}
	   			});
			});
			
			$("#update").click(function(){
				
				$.ajax({
	   				url: "/video/update"
					, data : {
						videoNo : $("#videoNo").val()
						, videoUrl : $("#videoUrl").val()
						, boardType : $("#boardType").val()
						, boardSubType : $("#boardSubType").val()
					}
					, type : "post"
	   				, success : function(data){
						var json = JSON.parse(data);
	   					if(json.resCode == "0000"){
	   						alert("동영상이 정상적으로 등록되었습니다!");
	   						$('#modal-upload').modal("hide");
	   						location.reload();
	   					}else{
							alert(json.resMsg);
	   					}
	   				}, error : function(request, status, error){
	   					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
	   				}
	   			});
			});
			
			$("#replyRegist").click(function(){
				$.ajax({
	   				url: "/activity/futures/reply/regist"
					, data : {
						boardNo : $("#boardNo").val()
						, boardType : $("#boardType").val()
						, boardSubType : $("#boardSubType").val()
						, replyContent : $("#replyContent").val()
					}
					, type : "post"
	   				, success : function(data){
						var json = JSON.parse(data);
	   					
						alert(json.resMsg);
	   					if(json.resCode == "0000"){
	   						$(location).attr("href", "/activity/futures");	
	   					}
	   				}, error : function(request, status, error){
	   					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
	   				}
	   			});
			});
		});
	</script>
</th:block>
</html>