<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/activity">연구활동</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock">주식</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock/chat">애널리스트채팅</a></li>
			<li class="breadcrumb-item active">이우연애널리스트</li>
		</ol>
		<h2>이우연 애널리스트</h2>
		<div>
			<div class="detail-box">
				<div th:if="${data != null}">
					<div class="reg-date">작성일 : <span th:text="${data.regDttm}"></span></div>
					<div class="file-box" th:if="${data.fileNo} != 0">
						<form action="/file/activity/download" method="post">
							<input type="hidden" id="fileNo" name="fileNo" th:value="${data.fileNo}">
							<input type="hidden" id="boardNo" name="boardNo" th:value="${data.boardNo}">
							<input type="hidden" id="boardType" name="boardType" th:value="${data.boardType}">
							<input type="hidden" id="boardSubType" name="boardSubType" th:value="${data.boardSubType}">
							첨부파일 : 
							<button type="submit" class="btn btn-secondary btn-sm" id="download">
								<span class="glyphicon glyphicon-paperclip"></span>[[${data.fileNm}]]
					        </button>
						</form>
					</div>
					<textarea class="form-control" id="boardContent" name="content" rows="20">[[${data.content}]]</textarea>
				</div>
				<div th:unless="${data != null}">
					<div class="no-write">
						<img th:src="@{/img/no-write.gif}">
					</div>
				</div>	
			</div>
			<div class="text-right">
        		<button class="btn btn-outline-primary" id="regist">등록</button>
        	</div>
		</div>
	</div>
    <!-- end content -->
	<script>
		$(function(){
			$("#regist").on("click", function(){
				$(location).attr("href", "/activity/stock/analyst/chat/analyst/regist");
			});
		});
	</script>
	<script th:src="@{/js/readonly.js}"></script>
</th:block>
</html>