<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/activity">연구활동</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock">주식</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock/analyst/chat">애널리스트채팅</a></li>
			<li class="breadcrumb-item active">김상휘연구소장</li>
		</ol>
		<h2>김상휘 연구소장</h2>
		<div>
			<div class="detail-box">
				<div th:if="${data != null}">
					<form action="/file/activity/download" method="post">
						<input type="hidden" id="boardNo" name="boardNo" th:value="${data.boardNo}">
						<input type="hidden" id="boardType" name="boardType" th:value="${data.boardType}">
						<input type="hidden" id="boardSubType" name="boardSubType" th:value="${data.boardSubType}">
						<div class="file-box" th:if="${data.fileNo} != 0">
						
							<div class="reg-date">작성일 : <span th:text="${data.regDttm}"></span></div>
							
							<input type="hidden" id="fileNo" name="fileNo" th:value="${data.fileNo}">
							첨부파일 : 
							<button type="submit" class="btn btn-secondary btn-sm" id="download">
								<span class="glyphicon glyphicon-paperclip"></span>[[${data.fileNm}]]
					        </button>
						</div>
					</form>
					<textarea class="form-control" id="boardContent" name="content" rows="30">[[${data.content}]]</textarea>
				</div>
				<div th:unless="${data != null}">
					<div class="no-write">
						<img th:src="@{/img/no-write.gif}">
					</div>
				</div>
				<div class="text-right">
	        		<button class="btn btn-outline-primary" id="regist">등록</button>
	        	</div>
	        	<div th:if="${data != null}">
	        	
		        	<div class="reply-box">
		        		<div class="reply-list" th:each="item : ${list}">
		        			<div class="reply-id">
				        		<span th:text="${item.replyRegId}"></span>
		        			</div>
		        			<div class="reply-content">
		        				<span th:text="${item.replyContent}"></span>
		        			</div>
		        			<div class="reply-Dttm">
		        				<span th:text="${item.replyRegDttm}"></span>
		        			</div>
		        		</div>
			        	<div class="card">
							<div class="card-body">
								<h5 class="card-subtitle mb-2 text-muted">[[${userId}]]</h5>
								<textarea class="form-control" id="replyContent" rows="3"></textarea>
								<button class="btn btn-primary" id="replyRegist">등록</button>
			  				</div>
			  			</div>
			  		</div>	
		  		</div>
			</div>
			
		</div>
	</div>
    <!-- end content -->
	<script>
		$(function(){
			$("#regist").on("click", function(){
				$(location).attr("href", "/activity/stock/analyst/chat/manager/regist");
			});
			
			$("#replyRegist").click(function(){
				$.ajax({
	   				url: "/activity/stock/analyst/chat/manager/reply/regist"
					, data : {
						boardNo : $("#boardNo").val()
						, boardType : $("#boardType").val()
						, boardSubType : $("#boardSubType").val()
						, replyContent : $("#replyContent").val()
					}
					, type : "post"
	   				, success : function(data){
						var json = JSON.parse(data);
	   					
						alert(json.resMsg);
	   					if(json.resCode == "0000"){
	   						$(location).attr("href", "/activity/stock/analyst/chat/manager");	
	   					}
	   				}, error : function(request, status, error){
	   					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
	   				}
	   			});
			});
		});
	</script>
	<script th:src="@{/js/readonly.js}"></script>
</th:block>
</html>