<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/info">소액주주모임</a></li>
			<li class="breadcrumb-item active">(예)성창기업 소액주주모임</li>
		</ol>
		<h2>(예)성창기업 소액주주모임</h2>
		<div>
			<div class="detail-box">
				
			</div>
		</div>
	</div>
      <!-- end content -->
	<script>
		$(function(){
			
		});
	</script>
</th:block>
</html>