<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/admin">관리자</a></li>
			<li class="breadcrumb-item active">메뉴관리</li>
		</ol>
		<h2>메뉴관리</h2>
		
		<div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h4 class="title">
	                   	<span>메뉴등록</span>
	                   </h4>
					<form>
						<fieldset>
							<div class="form-group">
								<label for="pid">상위메뉴</label>
								<select class="form-control" id="pid">
									<option th:each="item : ${list}" th:value="${item.menuId}" th:data-url="${item.url}" th:data-level="${item.level}" th:text="${item.name}"></option>
								</select>
								<input type="hidden" id="level" name="level">
								<input type="hidden" id="menuId" name="menuId">
							</div>
							<div class="form-group">
								<label for="url">URL</label>
								<input type="text" class="form-control" id="url" name="url">
							</div>
							<div class="form-group">
								<label for="name">메뉴명</label>
								<input type="text" class="form-control" id="name" name="name">
							</div>
							<div class="form-group">
								<label for="type">타입</label>
								<select class="form-control" id="type">
									<option value="M">메뉴</option>
									<option value="A">Ajax</option>
								</select>
							</div>
							<div class="form-group">
								<label for="description">설명</label>
								<input type="text" class="form-control" id="description" name="description">
							</div>
							<div class="form-group">
								<label for="ordering">메뉴순번</label>
								<input type="text" class="form-control" id="ordering" name="ordering">
							</div>
							<div class="form-group">
								<label for="user">담당자</label>
								<select class="form-control" id="user">
									<option value="0">--선택하세요--</option>
									<option th:each="item : ${admin}" th:value="${item.userNo}" th:text="${item.userId}"></option>
								</select>
							</div>
						</fieldset>
						<button type="button" id="add" class="btn btn-outline-primary">메뉴추가</button>
						<button type="button" id="save" class="btn btn-primary">등록</button>
					</form>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h4 class="title">
	                  	<span>메뉴목록</span>
	               </h4>
	               <div class="menu-list">
				       	<ul>
							<li th:each="list : ${menuList}" th:class="|level-${list.level}|">
								<a href="#" th:text="${list.name}" th:data-menuid="${list.menuId}"></a>
							</li>
						</ul>
	               </div>
				</div>
			</div>
		</div>
	</div>
      <!-- end content -->
	<script>
		$(function(){
			
			$("#pid").change(function(){
				var url = $(this).find("option:selected").data("url");
				var level = $(this).find("option:selected").data("level");
				$("#url").val(url);
				$("#level").val(level);
			});
			
			$("#add").click(function(){
				location.reload();
			});
			
			$(".menu-list ul li a").click(function(){
				$.ajax({
					url: "/admin/menu"
					, type : "post"
					, data : {
						menuId : $(this).data("menuid")
					}, success : function(data){
						var json = JSON.parse(data);
						if(json.resCode == "0000"){
							$("#pid").val(json.menu.pid);
							$("#type").val(json.menu.type);
							$("#url").val(json.menu.url);
							$("#name").val(json.menu.name);
							$("#description").val(json.menu.description);
							$("#ordering").val(json.menu.ordering);
							$("#menuId").val(json.menu.menuId);
							$("#user").val(json.menu.userNo);
						}
					}, error : function(request, status, error){
      					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
      				}
				});
			});
			
      		$("#save").click(function(){
      			alert($("#pid option:selected").val());
      			
      			var result = confirm("메뉴를 등록 및 수정하시겠습니까?");
      			if(!result){
      				return;
      			}
      			
      			if($("#url").val() == ""){
      				$("#url").focus();
      				return;
      			}
      			
      			if($("#name").val() == ""){
      				$("#name").focus();
      				return;
      			}
      			
      			if($("#ordering").val() == ""){
      				$("#ordering").focus();
      				return;
      			}
      			
      			$.ajax({
      				url: "/admin/menu/save"
					, type : "POST"
      				, data : {
      					pid : $("#pid option:selected").val()
      					, url : $("#url").val()
      					, name : $("#name").val()
      					, type : $("#type option:selected").val()
      					, description : $("#description").val()
      					, ordering : $("#ordering").val()
      					, level : $("#pid option:selected").data("level")
      					, menuId : $("#menuId").val()
      					, userNo : $("#user option:selected").val()
      				}, success : function(data){
      					var json = JSON.parse(data);
      					if(json.resCode == "0000"){
							alert(json.resMsg);
							location.reload();
      					}
      				}, error : function(request, status, error){
      					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
      				}
      			});
      		});
		});
      	
	
	</script>
</th:block>
</html>