<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/admin">관리자</a></li>
			<li class="breadcrumb-item active">권한관리</li>
		</ol>
		<h2>회원관리</h2>
		<div>
			<div class="search-box">
				<form class="form-inline">
				  <label for="userId" class="mr-sm-2">아이디 : </label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="userId">
				  <label for="userName" class="mr-sm-2">이름 : </label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="userName">
				  <label for="regDttm" class="mr-sm-2">가입일자 : </label>
				  <input type="text" class="form-control mb-2 mr-sm-2 datepic" id="regDttm" readonly="readonly">
				  <label for="role" class="mr-sm-2">권한 : </label>
				  <select id="role" class="form-control mb-2 mr-sm-2">
						<option value="">전체</option>
						<option value="1">관리자</option>
						<option value="2">정회원</option>
						<option value="3">연구소장</option>
						<option value="4">애널리스트</option>
					</select>
				  <button id="search" type="button" class="btn btn-primary mb-2">조회</button>
				</form>
			</div>
			<div class="total-box">총 <span id="total"></span> 건</div>
			<table id="userTable" class="table table-hover">
        		<thead>
        			<tr>
        				<th>NO.</th>
        				<th>아이디</th>
        				<th>이름</th>
        				<th>전화번호</th>
        				<th>이메일</th>
        				<th>가입일자</th>
        				<th>사용여부</th>
        				<th>비밀번호초기화</th>
        			</tr>
        		</thead>
        	</table>
	        <div class="modal border-primary" id="modal-init" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">비밀번호 초기화</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="initUserId" name="initUserId"> 
							<p>
								<span id="initId"></span>님의 비밀번호를 초기화 하시겠습니까?<br>
								비밀번호는 <strong> 아이디1! </strong>로  초기화 됩니다. <br>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="init">초기화</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
				    </div>
				</div>
			</div>
        </div>
	</div>
        
      <!-- end content -->
	<script>
		$(function(){
			var total = 0;
			var table = $("#userTable").DataTable({
				searching : false
				, pageLength : 10
				, ordering : false
				, serverSide : true
				, language : lang_kor
				, dom: '<<t><p>'
				, ajax : {
					'url' : "/admin/user/list"
					, 'data' : function ( d ) {
			         	d.userId = $("#userId").val();
			         	d.userName = $("#userName").val();
			         	d.regDttm = $("#regDttm").val();
			         	d.role = $("#role option:selected").val();
			         } 
					, 'type': 'POST'
					, 'dataSrc': function (data) {
						total = data.recordsTotal;
						$("#total").text(data.recordsTotal);
			              return data.data;
			         }
				}, columns : [
					{
						data : "userNo", className: 'text-center'
						, render : function(data, type, row, meta){
							return meta.row + meta.settings._iDisplayStart + 1;
						}
					}
					,{ data : "userId" , className: 'text-center'}
					,{ data : "userName" , className: 'text-center'}
					,{ data : "tel" , className: 'text-center'}
					,{ data : "email", className: 'text-center'}
					,{ data : "regDttm", className: 'text-center'}
					,{ data : "useYn", className: 'text-center'
					   , render : function(data, type, row, meta){
							var result = "";
							if(row.useYn == 'Y'){
								result = "사용중";
							}else{
								result = "탈퇴";
							}
							
							return result;
						}
					}
					,{	
						data : "userId",
						render : function(data, type, row, meta){
							return '<button id="initPwd" name="initPwd" data-toggle="modal" data-target="#modal-init"'
							+ 'class="btn btn-primary btn-sm" data-userno="' + row.userNo + '" data-userid="' +row.userId + '">초기화</button>';
						}, className: 'text-center'
					}
					,{ data : "userNo", className: 'text-center', visible:false}
				]
      		});
			
			$("#search").click(function(){
				table.ajax.reload();
			});
			
			$("#modal-init").on('show.bs.modal', function(e){
				var button = $(e.relatedTarget);
				var userId = button.data("userid");
				$("#initId").text(userId);
				$("#initUserId").val(userId);
			});
			
	      		
			// 비밀번호 초기화 
			$("#init").click(function(){
				$.ajax({
      				url: "/admin/user/password/init"
					, type : "post"
      				, data : {
      					userId : $("#initUserId").val()
      				}, success : function(data){
      					var json = JSON.parse(data);
      					if(json.resCode == "0000"){
      						alert("비밀번호가 초기화되었습니다.");
      						location.reload();
      					}else{
	      					alert(json.resMsg);
      					}
      				}, error : function(request, status, error){
      					alert("error : ", request);
      				}
      			});
			});
			
		});
      	
	</script>
</th:block>
</html>