<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/admin">관리자</a></li>
			<li class="breadcrumb-item active">권한관리</li>
		</ol>
		<h2>회원관리</h2>
		<div>
			<table id="userTable" class="table table-hover">
        		<thead>
        			<tr>
        				<th>NO.</th>
        				<th>아이디</th>
        				<th>이름</th>
        				<th>전화번호</th>
        				<th>이메일</th>
        				<th>비밀번호초기화</th>
        				<th>사용여부</th>
        			</tr>
        		</thead>
        	</table>
	        <div class="modal border-primary" id="modal-init" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">비밀번호 초기화</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="userId" name="userId"> 
							<input type="hidden" id="userNo" name="useNo">
							<p>
								<span id="initId"></span>님의 비밀번호를 초기화 하시겠습니까?<br>
								비밀번호는 <strong> 아이디1! </strong>로  초기화 됩니다. <br>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="init">초기화</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
				    </div>
				</div>
			</div>
        </div>
	</div>
        
      <!-- end content -->
	<script>
		$(function(){
			
			var table = $("#userTable").DataTable({
				searching : false
				, pageLength : 10
				, ordering : false
				, serverSide : true
				, language : lang_kor
				, dom : ''
				, ajax : {
					'url' : "/admin/user/list",
					'type': 'POST'
				}, columns : [
					{
						data : "userNo", className: 'text-center'
						, render : function(data, type, row, meta){
							return meta.row + meta.settings._iDisplayStart + 1;
						}
					}
					,{ data : "userId" , className: 'text-center'}
					,{ data : "userName" , className: 'text-center'}
					,{ data : "tel" , className: 'text-center'}
					,{ data : "email", className: 'text-center'}
					,{	
						render : function(data, type, row, meta){
							return '<button id="initPwd" name="initPwd" data-toggle="modal" data-target="#modal-init"'
							+ 'class="btn btn-primary btn-sm" data-userno="' + row.userNo + '" data-userid="' +row.userId + '">초기화</button>';
						}, className: 'text-center'
					}
					,{ data : "useYn", className: 'text-center'}
					,{ data : "userNo", className: 'text-center', visible:false}
				]
      		});
			
			$("#modal-init").on('show.bs.modal', function(e){
				var button = $(e.relatedTarget);
				var userId = button.data("userid");
				$("#initId").text(userId);
			});
			
	      		
			// 비밀번호 초기화 
			$("#init").click(function(){
				$.ajax({
					
				});
			});
			
		});
      	
	</script>
</th:block>
</html>