<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item active">내정보관리</li>
		</ol>
		<h2>내 정보관리</h2>
		<div class="join-form">
       		<fieldset>
       			<div class="form-group row">
					<label for="userId" class="col-sm-2 col-md-3 col-sm-12 col-form-label">아이디</label>
					<div class="col-sm-10 col-md-9 col-sm-12">
				        <input type="text" readonly class="form-control-plaintext" id="userId" th:value="${user.userId}">
					</div>
				</div>
       			<div class="form-group row">
					<label for="password" class="col-sm-2 col-md-3 col-sm-12 col-form-label">비밀번호</label>
					<div class="col-sm-10 col-md-9 col-sm-12">
						<input type="password" class="form-control" id="password" name="password">
					</div>
				</div>
       			<div class="form-group row">
					<label for="passwordCheck" class="col-sm-2 col-md-3 col-sm-12 col-form-label">비밀번호확인</label>
					<div class="col-sm-10 col-md-9 col-sm-12">
						<input type="password" class="form-control" id="passwordCheck" name="passwordCheck" >
						<div id="checkMsg"></div>
						<input type="hidden" id="pwdCheckYn" name="pwdCheckYn" value="N">
					</div>
				</div>
       			<div class="form-group row">
					<label for="userName" class="col-sm-2 col-md-3 col-sm-12 col-form-label">이름</label>
					<div class="col-sm-10 col-md-9 col-sm-12">
				        <input type="text" readonly class="form-control-plaintext" id="userName" th:value="${user.userName}">
					</div>
				</div>
       			<div class="form-group row">
					<label for="birth" class="col-sm-2 col-md-3 col-sm-12 col-form-label">생년월일</label>
					<div class="col-sm-8 col-md-9 col-sm-12 birth-group">
						<select class="form-control" id="selectYear"></select>
						<select class="form-control" id="selectMonth"></select>
						<select class="form-control" id="selectDay"></select>
					</div>
				</div>
       			<div class="form-group row">
					<label for="sex" class="col-sm-2 col-md-3 col-sm-12 col-form-label">성별</label>
					<div class="col-sm-10 col-md-9 col-sm-12 sex-group">
						<div class="custom-control custom-radio">
							<input type="radio" id="man" name="sex" class="custom-control-input" checked="checked" value="M">
							<label class="custom-control-label" for="man">남</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="female" name="sex" class="custom-control-input" value="F">
							<label class="custom-control-label" for="female">여</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="userName" class="col-sm-2 col-md-3 col-sm-12 col-form-label">핸드폰번호</label>
					<div class="col-sm-10 col-md-9 col-sm-12 tel-group">
						<input type="text" class="form-control" id="tel" name="tel" maxlength="13" th:value="${user.tel}">
						<button class="btn btn-primary" id="dupCheck">본인인증</button>
					</div>
				</div>
				<div class="form-group row">
					<label for="userName" class="col-sm-2 col-md-3 col-sm-12 col-form-label">이메일</label>
					<div class="col-sm-10 col-md-9 col-sm-12 email-group">
						<input type="text" class="form-control" id="email" name="email" th:value="${user.email}">
						<span>@</span>
						<input type="text" class="form-control" id="addr" name="addr">
						<select class="form-control" id="selectMail">
						    <option value="">직접입력</option>
						    <option value="naver.com">naver.com</option>
						    <option value="daum.net">daum.net</option>
						    <option value="hanmail.net">hanmail.net</option>
						    <option value="gmail.com">gmail.com</option>
						    <option value="hotmail.com">hotmail.com</option>
						    <option value="nate.com">nate.com</option>
						</select>
					</div>
				</div>
       		</fieldset>
       		<div class="text-right">
        		<button class="btn btn-outline-primary" id="modify">수정</button>
        	</div>
       	</div>
	</div>
      <!-- end content -->
	<script th:inline="javascript">
		$(function(){
		  	fn_selectBirth(); 
		  	
		  	/*<!CDATA[*/
				var birth = [[${user.birth}]];
				var sex = [[${user.sex}]];
				var email = [[${user.email}]];
			/*]]>*/
			

			// 생년월일 설정
			fn_birth(birth);
			
			// 성별 설정
			$('input:radio[name=sex]:input[value=' + sex + ']').attr("checked", true);

			// 이메일 설정
			fn_email(email);
			
			// 패스워드 확인
			$("#passwordCheck").keyup(function(){
				if($("#password").val() == $("#passwordCheck").val()){
					$("#passwordCheck").removeClass("is-invalid");
					$("#checkMsg").removeClass("invalid-feedback");
					$("#passwordCheck").addClass("is-valid");
					$("#checkMsg").addClass("valid-feedback");
					$("#checkMsg").text("비밀번호가 일치합니다.");
					$("#pwdCheckYn").val("Y");
				}else{
					$("#passwordCheck").removeClass("is-valid");
					$("#checkMsg").removeClass("valid-feedback");
					$("#passwordCheck").addClass("is-invalid");
					$("#checkMsg").addClass("invalid-feedback");
					$("#checkMsg").text("비밀번호가 일치하지 않습니다.");
					$("#pwdCheckYn").val("N");
				}
			});
				
			
			$("#tel").keyup(function(){
				fn_inputPhoneNumber($(this));
			});
			
			
			$("#selectMail").change(function(){
				if($(this).val() == ''){
					$("#addr").attr("readonly", false);
					$("#addr").val('');
				}else{
					$("#addr").attr("readonly", true);
					$("#addr").val($(this).val());
				}
			});
			
			$("#tel").keyup(function(){
				fn_inputPhoneNumber($(this));
			});
			
			
			$("#selectMail").change(function(){
				if($(this).val() == ''){
					$("#addr").attr("readonly", false);
					$("#addr").val('');
				}else{
					$("#addr").attr("readonly", true);
					$("#addr").val($(this).val());
				}
			});
			
			$("#modify").click(function(){
				
	  			if($("#password").val() == ""){
	  				alert("비밀번호를 입력하세요.");
	  				$("#password").focus();
	  				return;
	  			}
	  			
	  			if($("#passwordCheck").val() == ""){
	  				alert("비밀번호확인을 입력하세요.");
	  				$("#passwordCheck").focus();
	  				return;
	  			}

				if($("#pwdCheckYn").val() == "N"){
					alert("비밀번호를 확인 해주세요.");
					return;
				}
	  			
	  			
	  			if($("#tel").val() == ""){
	  				alert("핸드폰번호를 입력하세요.");
	  				$("#tel").focus();
	  				return;
	  			}
	  			
	  			if($("#email").val() == "" || $("#addr").val() == ""){
	  				alert("이메일 주소를 입력하세요.");
	  				$("#email").focus();
	  				return;
	  			}
				
				var birthday = getBirthDay();
				var email = $("#email").val() + "@" + $("#addr").val();
				
				$.ajax({
      				url: "/user/mypage/myinfo"
					, type : "post"
      				, data : {
      					password : $("#password").val()
      					, birth : birthday
      					, sex : $('input[name="sex"]:checked').val()
      					, tel : $("#tel").val()
      					, email : email
      				}, success : function(data){
      					var json = JSON.parse(data);
      					if(json.resCode == "0000"){
      						$(location).reload();
      						alert("회원정보가 성공적으로 변경되었습니다.");
      					}else{
	      					alert(json.resMsg);
      					}
      				}, error : function(request, status, error){
      					alert("error : ", request);
      				}
      			});
			});
		});
		
		function fn_birth(birth){
			
			var year = birth.substring(0,4);
			var month = birth.substring(4,6);
			var day = birth.substring(6,8);
			
			$("#selectYear").val(year).attr("selected", "selected");
			$("#selectMonth").val(month).attr("selected", "selected");
			$("#selectDay").val(day).attr("selected", "selected");
		}
		
		function fn_email(email){
			var str = email.split('@');
			$("#email").val(str[0]);
			$("#selectMail").val(str[1]).attr("selected", "selected");
			$("#addr").val(str[1]);
			$("#addr").attr("readonly", true);
		}
		
		function getBirthDay(){
  			var year = $("#selectYear option:selected").val();
  			var month = $("#selectMonth option:selected").val();
  			var day = $("#selectDay option:selected").val();
  			
  			return year+month+day;
  		}
		
	</script>
</th:block>
</html>