<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/user/myinfo">마이페이지</a></li>
			<li class="breadcrumb-item active">내 회원관리</li>
		</ol>
		<h2>내 회원관리</h2>
		<div class="my-user">
			<div class="row">
				<input type="radio">
				<label>특별회원에게만 공개</label>
				<input type="radio">
				<label>전체공개</label>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<h5 class="title">
                    	<span>내 회원 목록</span>
                    </h5>
                   	<div class="form-inline search-box">
						<input type="text" id="myUserSearch" class="form-control">
						<button class="btn btn-primary" id="myUserSearchBtn">조회</button>
                   	</div>
                   	<div class="user-list">
						<table id="myUserTable" class="table table-hover">
							<thead>
								<tr>
									<th>아이디</th>
									<th>이름</th>
									<th></th>
								</tr>
							</thead>
						</table>
                   	</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<h5 class="title">
                    	<span>회원 목록</span>
                    </h5>
                    <div class="form-inline search-box">
						<input type="text" id="userSearch" class="form-control">
						<button class="btn btn-primary" id="userSearchBtn">조회</button>
                   	</div>
                   	<div class="user-list">
						<table id="userTable" class="table table-hover">
							<thead>
								<tr>
									<th>아이디</th>
									<th>이름</th>
									<th></th>
								</tr>
							</thead>
						</table>
                   	</div>
				</div>
			</div>
			<div class="modal border-primary" id="modal-delAuth" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<input type="hidden" id="delAuthUserNo" name="delAuthUserNo">
						<div class="modal-header">
							<h5 class="modal-title">회원삭제</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								<span id="delAuthUserId"></span>님의을 회원 목록에서 삭제 하시겠습니까?<br>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="delete">삭제</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
				    </div>
				</div>
			</div>
			<div class="modal border-primary" id="modal-addAuth" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<input type="hidden" id="addAuthUserNo" name="addAuthUserNo">
						<div class="modal-header">
							<h5 class="modal-title">회원추가</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								<span id="addAuthUserId"></span>님을 나의 회원에 추가 하시겠습니까?<br>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="add">추가</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
      <!-- end content -->
	<script th:inline="javascript">
		$(function(){
			/*<!CDATA[*/
			var roleIds = [[${roleIds}]];
			/*]]>*/
			
			var roleId = "";
			if((roleIds.indexOf('1') != -1) && (roleIds.indexOf('3') != -1)){
				roleId = "3" ;
			}else if((roleIds.indexOf('1') != -1) && (roleIds.indexOf('4') != -1)){
				roleId = "4";
			}else if(roleIds.indexOf('9') != -1){
				roleId = "9";
			}else{
				roleId = "0";
			}
			
			var table = $("#myUserTable").DataTable({
				searching : false
				, pageLength : 10
				, ordering : false
				, serverSide : true
				, language : lang_kor
				, dom :''
				, ajax : {
					url : "/admin/auth/list",
					type: 'POST',
					data : {
						roleId : roleId
						, searchText : function() { return $("#myUserSearch").val() }   
					}					
				}, columns : [
					 { data : "userId" , className: 'text-center'}
					, { data : "userName" , className: 'text-center'}
					, {
						render : function(data, type, row, meta){
							return '<span class="badge badge-primary" data-toggle="modal" data-target="#modal-delAuth"'+
							'data-userno="' + row.userNo + '" data-userid="' + row.userId + '">X</span>';
						}
					}
				]
      		});
			
			$("#modal-delAuth").on('show.bs.modal', function(e){
				var button = $(e.relatedTarget);
				var userNo = button.data("userno");
				var userId = button.data("userid");
				$("#delAuthUserId").text(userId);
				$("#delAuthUserNo").val(userNo);
			});
			
			$("#delete").click(function (){
				
				var useNo = $("#delAuthUserNo").val();
				if(useNo == '' || useNo == null){
					return;
				}
			
                $.ajax({
      				url: "/admin/auth/user/delete"
   					, data :  {
   	                    auth      : roleId 
   	                    , userNo : useNo
   	                }
   					, type : "post"
      				, success : function(data){
      					var json = JSON.parse(data);
						alert(json.resMsg);
      					if(json.resCode == "0000"){
      						table.ajax.reload();
      						t.ajax.reload();
							$('#modal-delAuth').modal("hide");  
      					}
      				}, error : function(request, status, error){
      					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
      				}
      			});
			});
			
			
			$("#myUserSearchBtn").click(function(){
				table.ajax.reload();
			});
			
			var t = $("#userTable").DataTable({
				searching : false
				, pageLength : 10
				, ordering : false
				, serverSide : true
				, language : lang_kor
				, dom :''
				, ajax : {
					url : "/admin/auth/user/list",
					type: 'POST',
					data : {
						roleId : roleId
						, searchText : function() { return $("#userSearch").val() }  
					}					
				}, columns : [
					{ data : "userId" , className: 'text-center'}
					, { data : "userName" , className: 'text-center'}
					, {
						render : function(data, type, row, meta){
							return '<span class="badge badge-success" data-toggle="modal" data-target="#modal-addAuth"'+
							'data-userno="' + row.userNo + '" data-userid="' + row.userId + '">+</span>';
						}
					}
				]
      		});
			$("#modal-addAuth").on('show.bs.modal', function(e){
				var button = $(e.relatedTarget);
				var userNo = button.data("userno");
				var userId = button.data("userid");
				$("#addAuthUserId").text(userId);
				$("#addAuthUserNo").val(userNo);
			});
			// 권한 추가 로직 추가.
			$("#add").click(function(){
				
				
				var userArr = [];
				userArr.push($("#addAuthUserNo").val());
				
                $.ajax({
      				url: "/admin/auth/user/regist"
   					, data :  {
   	                    auth      : roleId 
   	                    , userArr : userArr
   	                }
   					, type : "post"
      				, success : function(data){
      					var json = JSON.parse(data);
      					
						alert(json.resMsg);
      					if(json.resCode == "0000"){
      						table.ajax.reload();
      						t.ajax.reload();
      						$('#modal-addAuth').modal("hide");
      					}
      				}, error : function(request, status, error){
      					alert("시스템 오류가 발생하였습니다. 관리자에게 문의하세요.");
      				}
      			});
				
			});
			
			$("#userSearchBtn").click(function(){
				t.ajax.reload();
			});
		});
	</script>
</th:block>
</html>