<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<th:block layout:fragment="content">
	<div class="content pull-right col-lg-9 col-md-8 col-sm-9 col-xs-12 clearfix">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/activity">연구활동</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock">주식</a></li>
			<li class="breadcrumb-item"><a href="/activity/stock/recommend">연구회추천주</a></li>
			<li class="breadcrumb-item active">연구회관심종목</li>
		</ol>
		<h2>연구회 관심종목</h2>
		<div>
			<div class="detail-box">
				<div th:if="${data != null}">
					<div class="reg-date">작성일 : <span th:text="${data.regDttm}"></span></div>
					<span th:utext='${data.content}'></span>
				</div>
				<div th:unless="${data != null}">
					<div class="no-write">
						<img th:src="@{/img/no-write.gif}">
					</div>
				</div>	
			</div>
			<div class="btn-box">
        		<button class="btn btn-secondary" id="regist"><span class="glyphicon glyphicon-pencil"></span></button>
	        </div>
		</div>
	</div>
    <!-- end content -->
	<script>
		$(function(){
			
			$("#regist").on("click", function(){
				$(location).attr("href", "/activity/stock/recommend/type/regist");
			});
		});
	</script>
</th:block>
</html>